@import './header-contents.css';
@import './header-contents_language-block.css';
@import './header-contents_language-block_link.css';

header {
    margin-left: auto;
    margin-right: auto;
    width: 1184px;
}