@media (min-width: 1280px) {
    .footer-contents {
        display: flex;
        justify-content: space-between;
        width: 1184px;
        align-items: center;
        margin: 0 auto 24px auto;
    }
}

@media (max-width: 1279px) {
    .footer-contents {
        display: flex;
        justify-content: space-between;
        width: 928px;
        align-items: center;
        margin: 0 auto 24px auto;
    }
}

@media (max-width: 1023px) {
    .footer-contents {
        display: flex;
        justify-content: space-between;
        width: 720px;
        align-items: center;
        margin: 0 auto 24px auto;
    }
}

@media (max-width: 767px) {
    .footer-contents {
        display: flex;
        flex-direction: column;
        width: 180px;
        margin: 0 auto 24px 16px;
        align-items: baseline;
    }
}